.about{
  background-color: #1ABC9C;
  min-height: 300px;
  padding: 15px;
}
.about .container{
  width: 90%;
  margin: auto;
  text-align: center;
  color: #ffffff;
}
.container h2{
  padding: 10px;
  font-size: 2rem;
}
.line{
  height: 1.5px;
  background-color: #ffffff;
  width: 25%;
  margin: auto;
}
.about .content{
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

@media screen and (max-width:800px) {
  .about .content{
    flex-direction: column;
    gap: 20px;
  }
}