main{
  min-height: 480px;
  background-color: #1abc9c;
  color: #ffffff;
}
.container{
  width: 90%;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.container h2{
  font-size: 2rem;
}
.line{
  height: 1.5px;
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.image-container{
  width: 250px;
  overflow: hidden;
  object-fit: cover;
}
img{
  width: 100%;
  display: block;
}